[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1"
garpixcms = ">=1.0.0"
django-polymorphic = "*"
django-fsm = "*"
django-fsm-admin = "*"
coverage = "*"
psycopg2-binary = ">=2.9.3"
m2r = "==0.3.1"

[dev-packages]
pytest = "==7.4.0"
pytest-django = "==4.5.2"
pytest-mock = "==3.11.1"
django-extensions = "*"

[requires]
python_version = "3.8"
